li {
    list-style: none;
    list-style-type: none;
    font-style: none;
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    color: black;
}

a:hover {
    color: blueviolet;
}